@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">BREA'S COFFEE</h1>
        <p1>DETROIT | NEW YORK | MIAMI </p1><br />
        <p2>EST. 2020</p2><br />
        <img src="~/coffee shop.jpg" alt="coffee" class="coffee" />
        <p> <a href="/Registration">Register</a></p>
    </div>
